.title{
    text-align: center;
}
#gameBody{
    background-image:url(water.jpg) ; 
}

#leaderboard{
   margin-top: 30px
}
#list{
    margin-top:20px;
}
#text{
    margin-top:40px;
}

#gameTable > thead > tr > th{
    border:1.9px solid #005b96 ;
    padding:19px;

}
#gameTable > tbody > tr > td{
    border:1.9px solid #005b96 ;


}
#gameTable > tbody > tr > th  {
    border:1.9px solid #005b96;
}
#tableSalvo{
padding-left:0.5px}

#tableShip{
padding-right:0.5px}

#gameTableSalvo > thead > tr > th{
    border:1.9px solid#005b96 ;
    padding:19px;
}
#gameTableSalvo > tbody > tr > td{
    border:1.9px solid #005b96;
  
    
}
#gameTableSalvo > tbody > tr > th  {
    border:1.9px solid #005b96;
}
#login { 
margin-top:150px;
}
#username ,#password{
    margin-right:80px
}
#loginButton{
    margin-top:20px;
}
#signupButton{
    margin-top:20px; 
}
#logoutButton{
    background-color:rgb(216, 212, 212);
    color:black;
}
#createButton{
    background-color:rgb(216, 212, 212);
    color:black;
}


#gameTableShip > thead > tr > th{
    border:1.9px solid black ;
}
#gameTableShip > tbody > tr > td{
    border:1.9px solid black;
}
#gameTableShip > tbody > tr > th  {
    border:1.9px solid black;
}
#gameTableShip tr {
    background-color: transparent;
}
#returnShipButton{
    background-color:#78C0EF;
    height: 40px;
    
}
#ShipButton{
    background-color: #78C0EF;
    height: 40px;
}
#SalvoButton{
    background-color:#78C0EF;
    height: 40px;
    display: none
}
#saveShipButton{
    background-color:#78C0EF;
    height: 40px;
}




#hitShipTable > thead > tr > th{
    border:1.9px solid black ;
}
#hitShipTable> tbody > tr > td{
    border:1.9px solid black;
}
#hitShipTable > tbody > tr > th  {
    border:1.9px solid black;
}

#hitShipTable{
width: 225px;
}