.title{
    text-align: center;
}
#gameBody{
    background-image:url(water.jpg) ; 
}
#leaderboard{
   margin-top: 30px
}
#list{
    margin-top:20px;
}
#text{
    margin-top:40px;
}
#gameTable > thead > tr > th{
    border:1.9px solid #005b96 ;
}
#gameTable > tbody > tr > td{
    border:1.9px solid #005b96 ;
}
#gameTable > tbody > tr > th  {
    border:1.9px solid #005b96;
}
#gameTableSalvo > thead > tr > th{
    border:1.9px solid#005b96 ;
}
#gameTableSalvo > tbody > tr > td{
    border:1.9px solid #005b96;
}
#gameTableSalvo > tbody > tr > th  {
    border:1.9px solid #005b96;
}
#login { 
margin-top:150px;
}
#username ,#password{
    margin-right:80px
}
#loginButton{
    margin-top:20px;
}
#signupButton{
    margin-top:20px; 
}
#logoutButton{
    background-color:rgb(216, 212, 212);
    color:black;
}
#createButton{
    background-color:rgb(216, 212, 212);
    color:black;
}


#gameTableShip > thead > tr > th{
    border:1.9px solid black ;
}
#gameTableShip > tbody > tr > td{
    border:1.9px solid black;
}
#gameTableShip > tbody > tr > th  {
    border:1.9px solid black;
}
#gameTableShip tr {
    background-color: transparent;
}
#returnShipButton{
    background-color: #0174DF;
    height: 40px;
    
}
#saveShipButton{
    background-color: #0174DF;
    height: 40px;
}


